body {      /* mengatur properti ....*/
	font-family: 'Times New Roman', Times, serif;
	margin: 0;
	padding: 0;
}

header {    /* mengatur properti .... */
	background-color:rgb(42, 30, 20);
	color: rgb(240, 219, 189);
	padding: 20px;
}

h1 {
	margin: 0;
    text-align: center;
}

nav ul {
	list-style: none;            /* menghapus tanda bullet list*/
    justify-content: right;     /* mengatur posisi item di navbar kanan */
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
    text-align: center;
}

main {
	padding: 20px;
}

section {
	margin-bottom: 50px;    /* jarak antar section */
}

section h2 {
    text-align: center;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    text-align: center;
}

.gallery img {
	width: 300px;
	height: 200px;
	object-fit: cover;
	margin: 10px;
}
.kontak {
    text-align: center;
}
.contact-info {
    text-align: center;
    list-style: none;
    padding: 0;
}
.contact-info li {
    margin-bottom: 10px;
}


img {
    width: 70%;         /* ukuran gambar 80% */ 
    height: auto;
    display: block;     /* mengambil ruang penuh pada baris */
    margin: auto;       /* membuat gambar peta menjadi rata antara sisi kanan dan sisi kiri*/
  }

  #judul{
    text-align: left;
  }

  .des{
    text-align: left;
  }

  .head{
    text-align: center;
  }
  
  


